.navBar li {list-style-type:none;
	display:inline-block;
	font-size:36px;
	padding:15px;
	margin:15px;
	border: 1px solid black;
	border-radius: 10px;
	background:black;
	min-width:200px;
	min-height:40px;
	text-align:center;
	box-shadow: 0px 8px 16px 0px;
	}
.navBar li:active {background:gray;
		box-shadow:inset 5px 5px 5px 5px;}

.navBar a{text-decoration:none;
	color:white;
	width:200px;
	height:40px;
	display:block;}
.navBar a:hover {color:green;}

.dropdown-content{	display:none;
			position:absolute;}
.dropdown {	position:relative;
		display:inline-block;
		}
.dropdown:hover .dropdown-content{
	display:block;
}
body {font-family:Arial;
	background:gray;}
header h1 {text-align:center;}
article h2 {text-align:center;}
article footer {text-align:center;}


